@import url(../../../css/globals.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200&display=swap');

/* #region HEADER */
.main-title {
    text-align: center;
    font-size: 3.8rem;
    /* font-size: 2.6rem; */
}

.blue-text {
    color: #0096ea;
}

.links-nav-bar {
    display: flex;  /* Sin este atributo, el siguiente no funciona */
    justify-content: center; /* Centra horizontalmente el contenido, los items <a> */

    /* margin-top: .1rem;
    margin-bottom: .2rem; */
    margin-top: .16rem;
    margin-bottom: .32rem;
    /* gap: 1rem; */
    font-size: 1.5rem;
}

.links-nav-bar a{
    /* padding: 1rem 4rem; */
    padding: 1.6rem 6.4rem;
}

.links-nav-bar a:hover {
    background-color: #1185d3;
    color: white;
    /* background-color: #e0e0e0; */
    /* color: white; */
}

.links-nav-bar a:active {
    background-color: #67acda;
    color: white;
    /* background-color: #b5daf8; */
}
/* #endregion */

/* #endregion FOOTER */
.grouped-links {
    display: flex;
    gap: 13rem;
    /* border: 1px solid red; */
    margin-bottom: 2rem;
}

.link-list {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 2.2rem;
    /* border: 1px solid red; */
}

.grouped-links h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-rights-reserved {
    margin: 2rem 0;
    /* border: 1px solid red; */
}

/* Esto es para centrar mejor la lista de enlaces central, con el msje debajo */
.grouped-links div:nth-child(1) {
    min-width: 15.4rem;
    /* min-width: 13.4rem; */
}

footer {
    background-color: rgb(216, 214, 214);
}
/* #endregion */

