
@import url(globals-of-this-page.css);

/*  Esta selector trabaja sobre un elemento que esta dentro del header, para tal, no es comun a las distintas 
    paginas secundarias, por eso se quedo en este archivo css y no se fue a globals-of-this-page*/
.img-hero {
    width: 100%;
    height: auto;

    margin-bottom: 7rem;
}

/* -----------------------------------  SECTION - CATEGORIAS DE PRODUCTOS  ----------------------------------- */
.title-categ {
    text-align: center;
    font-size: 3.5rem;
}

.list-categ-products {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 10rem;
}

.categ-product {
    display: flex;
    flex-direction: column;
    /* align-items: center; */ /* Este lo comente, por que voy a centrar la palabra del boton en la linea 82. 
                                  Una clase mas especifica */
}

.categ-product img {
    width: 35rem;;
    /* height: 20rem; */
}

.categ-product a{
    padding: 2.5rem;
    text-align: center;
    font-size: 1.6rem;
    border-bottom-right-radius: 1.5rem;
}

.categ-product a:hover {
    background-color: #027bc1;
    color: white;
    transition: all .5s ease; /* Le da un efecto de delay cuando se pasa el mouse entre los botones */

}

/* -----------------------------  SECTION - SOBRE NOSOTROS  ----------------------------- */
.container-about-us {
    display: flex;
    justify-content: center;

    margin-bottom: 10rem;
}

.container-about-us img { /* Funciona para cuando se hace zoom, hace que se mantenga en todo el anchjo de la pantalla */
    width: 75%;
    height: auto;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center; /* CENTRADO VERTICAL :v pero cuando se pone row, se invierte con el de abajo*/
    /* align-items: center; */  /* Seria para centrar todo en HORIZONTAL, al tener column */

    background-color: #027bc1;
    color: white;
    font-size: 1.3rem;
    /* padding: 10rem 7rem; */ /* Anterirmente no usaba display flex, entonces solo lo posicionaba con el padding */
    padding-left: 7rem;
}

.about-us p {
    width: 60%;
    line-height: 2.5rem;
    text-align: justify;
}