@import url(../../../css/globals.css);

.main-footer-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grouped-links {
    display: flex;
    gap: 10rem;    
}

.link-list {
    display: flex;
    flex-direction: column;
    line-height: 2.2rem;
}

.grouped-links div {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.grouped-links h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.grouped-links a {
    font-size: 1.5rem;
}

.main-footer-container p {
    /* border: 1px solid red; */
    margin: 4rem 0;
}

.grouped-links div:nth-child(3) {
    /* border: 1px solid red; */
    min-width: 10.4rem;
}